@model IEnumerable<Common.MTO.Message>

@{
    ViewData["Title"] = "DisplayMessageConv";
}

<h1>DisplayMessageConv</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style= "table-layout: fixed">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ConversationId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsChecked)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ConversationId)
            </td>*@
            <td style="overflow-wrap: break-word">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsChecked)
            </td>*@
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
