@model Common.MTO.MovieDetail
@using Microsoft.AspNetCore.Identity
@inject UserManager<DAL.Entities.ApplicationUserEF> UserManager
@inject SignInManager<DAL.Entities.ApplicationUserEF> SignInManager
@{
    ViewData["Title"] = "GetMovieDetail";
}

@*<h1>GetMovieDetail</h1>*@
@*<div class="float-left">Float left on all viewport sizes</div><br>
    <div class="float-right">Float right on all viewport sizes</div><b*@
<div>
    @*<h4>IMDBMovieSummary</h4>*@
    <hr />
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-sm-4 ">
                    <strong>@Html.DisplayNameFor(model => model.Title)</strong>
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </div>
                <div class="col-sm-4 ">
                    <strong>@Html.DisplayNameFor(model => model.Year)</strong>
</div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Year)
                </div>
                @*<div class="col-sm-4 ">
                        @Html.DisplayNameFor(model => model.imdbID)
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.imdbID)
                    </div>*@
                @*<div class="col-sm-4 ">
                        @Html.DisplayNameFor(model => model.Type)
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Type)
                    </div>*@

                @*<dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.Poster)
                    </dd>*@
                <div class="col-sm-4 ">
                    <strong>@Html.DisplayNameFor(model => model.Genre)</strong>
</div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Genre)
                </div>
                <div class="col-sm-4 ">
                    <strong>@Html.DisplayNameFor(model => model.Director)</strong>
</div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Director)
                </div>
                <div class="col-sm-4 ">
                    <strong>@Html.DisplayNameFor(model => model.Actors)</strong>
</div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Actors)
                </div>
                <div class="col-sm-4 ">
                    <strong>@Html.DisplayNameFor(model => model.Country)</strong>
</div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Country)
                </div>
            </div>
        </div>
        <div class="float-right col-6">
            <img src="@Url.Content(Model.Poster)" height="500" />
        </div>
    </div>
</div>
<br>
@if (SignInManager.IsSignedIn(User))
{
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Add", "AddToCollection", new
{
   imdbid = Model.imdbID,
   Title = Model.Title,
   Year = Model.Year,
   Poster = Model.Poster,
   Director = Model.Director,
   Genre = Model.Genre,
   Actors = Model.Actors,
   Country = Model.Country
})
    @* TODO #1 "~/IMDB/GetMoviesByName/"+Model.imdbID*@
    <a asp-action="Index">Back to List</a>
</div>
}