@model IEnumerable<Common.BTO.MovieSummaryBTO>

@{
    ViewData["Title"] = "GetMoviesByName";
}

<h1>GetMoviesByName</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.imdbID)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Type)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.imdbID)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.Poster)*@
                    <img src="@Url.Content(item.Poster)" height="200" />

                </td>

                <td>
                    @Html.ActionLink(item.UserName, "DisplayAllMoviesByUser", "Movie", new { UserID = item.UserID })
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Details", "GetMovieDetail", new { imdbid = item.imdbID }) |
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                </td>
            </tr>
        }
    </tbody>
</table>

